<!doctype html>
<html ng-app="replyApp">
  <head>
    <title>Quick Reply's Options</title>
    <style>
      blockquote {
        font: 14px/22px normal helvetica, sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
        padding-left: 15px;
        border-left: 3px solid #ccc;
      }
      label {display:block;}
      textarea { display:block;}
    </style>
    <script src="angular.min.js"></script>
    <script src="options.js"></script>
  </head>
  <body ng-controller="OptionsController">
    <div id="pastas">
      <h1>Available Pasta</h1>
      <div ng-repeat="tag in tags">
        <h2>{{tag}}</h2>
        <a href="#" ng-click="deleteTag(tag)">Delete All In Tag</a>
        <div ng-repeat="pasta in items[tag]">
          <blockquote>{{pasta}}</blockquote>
          <a href="#" ng-click="deletePasta(tag, pasta)">Delete</a>
        </div>
      </div>
    </div>
    <div id="newPasta">
      <label for="newTag">Tag</label>
      <textarea id="newTag" ng-model="newTag">
      </textarea>
      <br>
      <label for="newPasta">Pasta</label>
      <textarea id="newPasta" ng-model="newPasta" style="width: 600px;">
      </textarea>
      <br>
      <a href="#" ng-click="addPasta()">Add new pasta</a>
    </div>
  </body>
</html>

